networks:
  default:
    driver: bridge
    name: roboshop
    external: false
services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    depends_on:
      - mongodb
  redis:
    image: redis:7.0
    container_name: redis
  rabbitmq: 
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      rabbitmq_default_user: roboshop
      rabbitmq_default_password: roboshop123
  user:
    image: user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb
  cart:
    image: cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  payment:
    image: payment:v1
    container_name: payment
    depends_on:
      - user
      - cart
      - rabbitmq
  shipping:
    image: shipping:v1
    container_name: shipping
    depends_on:
      - cart
      - mysql
  frontend:
    image: frontend:v1
    container_name: frontend
    depends_on:
      - catalogue
      - user
      - cart
      - payment
      - shipping
    ports:
      - "80:80"
    

    